@using System.Collections.ObjectModel
@using PINChat.App.Library.Services


<style>
    #inputBox {
        overflow-y: hidden; /* Prevent scrolling */
        resize: none; /* Disable resizing */
        height: 40px;
        border-radius: 5px;
    }    
</style>

<div class="component-wrapper">
    
    <div class="side-wrapper">
        <Recipients Caller="Messages" OnRecipientSelected="OnRecipientSelected" />
    </div>
    
    <div class="content-wrapper">
        <div class="messages-content">
            
            <div id="messages-output" class="messages-output">
                @foreach (var message in MessageList)
                {
                    <div class="@message.Css message-wrapper">
                        <div class="message-container">

                            @* Show source avatar image if its group chat *@
                            @if (SelectedRecipient is GroupModel && !message.IsOrigin)
                            {
                                <div class="left-aligned avatar-container ">
                                    <img class="avatar-small" style="cursor: pointer;" src=@message.AvatarPath alt="User Avatar" @onclick="() => ShowUserDetails(message.SourceId!)">
                                </div>
                            }

                            <div class="@message.Css content-container ">
                                <p class="date">@message.CreatedDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
                                <p class="message">@message.Content</p>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div class="messages-input">
                <textarea id="inputBox" placeholder="Nova poruka" @bind="MessageContent" @oninput="OnInputBoxChange" @onkeydown="HandleKeyDown" @onkeydown:preventDefault="PreventDefault"></textarea>
                <button  class="btn-accent" @onclick="SendMessage">Pošalji</button>

            </div>
            
        </div>
    </div>
    
    @if (IsModalVisible)
    {
        <UserDetails Recipient="UserTarget" IsReadOnly="IsReadOnly" OnClosed="OnProfileClosed" />
    }
</div>